.outWrapper {
   display: flex;
   justify-content: center;
   height: 100vh;
   align-items: space-between;
   background: linear-gradient(to right, gray, black);
}

.title {
   margin-bottom: 2rem;
   font-weight: 700;
   font-size: 1.5rem;
   /* background: linear-gradient(to right, gray 40%, black 60%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
   color: rgb(237, 237, 237);
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 1.5rem;
   border: 4px solid #b9b9b9;
   padding: 1rem;
}

.button {
   /* background: linear-gradient(to right, #808080, black); */
   background: linear-gradient(to right, #808080, black);
   font-size: 0.7rem;
}

.row{
   border:2px solid green;
}
